[submodule "external/Unity"]
	path = external/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/msg_core"]
	path = external/msg_core
	url = https://github.com/papawattu/msg_core.git
	
	
[submodule "externals/CMake-argp"]
	path = externals/CMake-argp
	url = git@github.com:alehaa/CMake-argp.git
